---
layout: default
title: Home
permalink: /
---

<section class="below-header">
  <div class="banner" style="background-image: url('{{ site.url }}/img/optee-bg-1.jpg');">
    <div  class="banner-content">
      <p>
        <img class="aligncenter" src="{{ site.url }}/img/OP-TEE-Logo_white-vertical-OPTEE.png" width="200" height="auto">
      </p>
      <h2  class="banner-title">
        <span >Open Portable Trusted Execution Environment</span>
        </h2>
      <p  class="banner-subtitle">
        <span >Isolation ● Small footprint ● Portability</span>
      </p>
      <div class="shape">       
        <svg width="100%" height="130px"><defs><pattern id="shapeDividerPattern-4" preserveAspectRatio="none" style="background-repeat: none;" patternUnits="userSpaceOnUse" x="0" y="0" width="100%" height="1300px" viewBox="0 0 100 1300"><polygon fill="#ffffff" points="0,0 0,130 50,130 "></polygon><polygon fill="#ffffff" points="100,0 100,130 50,130 "></polygon></pattern></defs><!-- Background --><rect x="0" y="0" width="100%" height="130px" fill="url(#shapeDividerPattern-4)"></rect></svg>
      </div>
    </div>
  </div>  
</section>
<div class="page-content">
  <div class="mdl-grid">
    <div class="index-content">
    <div  class="text-block">
      <h2>Welcome to OP-TEE</h2>
      <p>The optee_os git, contains the source code for the TEE in Linux using the ARM® TrustZone® technology. This component meets the GlobalPlatform TEE System Architecture specification. It also provides the TEE Internal core API v1.1 as defined by the GlobalPlatform TEE Standard for the development of Trusted Applications. For a general overview of OP-TEE and to find out how to contribute, please see the Notice.md file.</p>
      <p >The Trusted OS is accessible from the Rich OS (Linux or <a href="http://www.windriver.com/products/vxworks/" target="_blank" class="">VxWorks®</a>) using the GlobalPlatform TEE Client API Specification v1.0, which also is used to trigger secure execution of applications within the TEE.</p>
    </div>
    <div class="spacer" data-height="40px"></div>
    <div class="text-block">
      <hr>
      <p><strong>Supporting companies</strong></p>
    </div>
    <div  class="text-block">

      
      <p>
        <img src="https://www.linaro.org/wp-content/uploads/2016/11/linaro.jpg" width="165" height="99" class="">
        <img class="lightbox-false" title="Wind" src="https://www.linaro.org/wp-content/uploads/2016/07/wind-1.jpg" alt="Wind" width="165" height="99">
        <img class="lightbox-false" title="applus laboratories" src="https://www.op-tee.org/wp-content/uploads/2014/09/applus-laboratories.jpg" alt="applus laboratories" width="165" height="99">
      </p>
    </div>
    <div class="spacer" data-height="40px"></div>
  </div>
  </div>
</div>




