<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <div class="footer-cont left">
          <div class="textwidget">
            <b>Hosted by Linaro</b><br>
            <a href="http://linaro.org"><img src="{{site.url}}/img/RGB-Linaro_StandardWhite-300x212.png"></a>
            <br>
            Portions of this content © 2016 Linaro
            </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col"></div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="textwidget"><img src="{{site.url}}/img/OP-TEE-Logo_white-vertical-OPTEE.png" width="100px" height="auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
