  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Title -->
      <div class="logo-holder" >
        <a class="logo-link mdl-logo" href="{{ site.url }}" title="OP-TEE">
          <img class="mk-desktop-logo dark-logo" title="Open Source Trusted Execution Environment" alt="Open Source Trusted Execution Environment" src="{{site.url}}/img/OP-TEE-Logo_white-standard-OPTEE-colour.png">
        </a>  
      </div>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <div class="container">
        <nav class="mdl-navigation">

          {% for page in site.pages %}
            {% if page.title %}
            <a class="mdl-navigation__link " href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>
    </div>
  </header>
  <div class="spacer" data-height="80px"></div>