/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
* 
*/
@media (min-width: 840px){
    .mdl-grid, .mdl-cell{
        margin: 0px;
        padding: 0px;
    }
}



/**
 * Header
 */

header.mdl-layout__header, header .mdl-layout__header-row {
    min-height: 80px;
    background: #131313;
    position: fixed;
    width: 100%;
}
/**
*  
*/

body{

    font-family: 'Lato', sans-serif;
}

body p {
    font-size: 20px;
    color: #131313;
    line-height: 1.66em;
}

/**
 * Logo
 */

.logo-holder img {
    height: 80px;
} 

.mdl-layout__header-row .mdl-navigation__link {
    font-size: 16px;
    line-height: 80px;
}

.mdl-navigation__link:hover {
    background: #0084AB;
}
/**
*  Content
*/
.banner{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    text-align: center;
    padding-top:80px;  
}    

.banner-title{
    color: #ffffff; 
    font-size: 46px; 
    line-height: 54px;
    margin-bottom: 10px;
}

.banner-subtitle{
    font-size: 22px;
    color:#ffffff;
}

.index-content{
    text-align: center;
}

.spacer[data-height="40px"]{
    height:40px;
}
.spacer[data-height="80px"]{
    min-height:80px;
}

/**
* Page Title
*/


.page-title {
    font-size: 20px;
    color: #ffffff;
    text-transform: none;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 25px 20px 15px;
    line-height: 120%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

section.page-intro {

    padding: 15px;
    background-position: center top;
    background-size: cover;
}

.breadcums a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.breadcums span {
    font-size: 13px;
    color: #fff;
}

/**
* Footer
*/
.mdl-mega-footer {
    
    background: linear-gradient(to bottom,#515151 0%, #515151 100%);
    padding: 0px 75px;
}

.footer-cont.left{
    padding-left:30px; 
}