//
// Generals styles for material design light elements
//

// Page container

.page-content{
  max-width: 1200px;
  margin: 0 auto;
}

// Cards styles
.mdl-card {
  .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  .mdl-card__supporting-text > span { color: #9F9F9F; }

  .mdl-card__menu {
    color: #fff;
  }
}

.post-button{
  position: absolute;
  right: 15px;
  bottom: 25px;
}

// Index highlight card

.section-highlight {
  position: relative;
  margin: 10px;

  .mdl-card__supporting-text {
    margin: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
  }

  .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 40px;
    color: inherit;
  }

  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
  }

}

.center{
  text-align: center;
}

@media (max-width: 760px){
  .text-block{
    padding: 0px 15px;
  }
}