---
layout: default
---
<section class="page-intro" style="background-image: url('{{ site.url }}/img/optee-bg-1.jpg');">
  <div class="page-content">
     <h1 class="page-title">{{page.title}}</h1>
  
    <div class="breadcums">
      <a href='{{ site.baseurl }}'>Home</a>
      {% assign crumbs = page.url | split: '/' %}
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <span>&rsaquo;</span>
          <a>{{ crumb | replace:'-',' ' | remove:'/index.html' | capitalize }}</a>
        {% else %}
        <span>&rsaquo;</span>
          <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{{site.baseurl}}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'/index.html' | capitalize }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="page-content">
  <div class="inner">
      {{ page.content }}
  </div>    
</section>   


